<main>
    {{#each users}}
        <li>
            {{this.email}} - {{this.password}}
        </li>
    {{/each}}

    <video width="400px" id="videoPlayer" controls>
        <source src="http://localhost:3000/video" type="video/mp4">
    </video>
</main>
